.container-fluid {
	margin-top: 65px;
}

.sidebar {
	margin-top: 75px;
}

.resources {
	color: green;
}

.center {
	text-align: center;
}

a.anchor {
	font-weight: bold;
	color: #404040;
	text-decoration: none;
}

a:hover.anchor  {
	color: #404040;
	text-decoration: underline;
}
